<div class="container col-12 col-lg-6 col-md-6">
      <div class="event-show d-flex justify-content-center">
        <img src=" <%= asset_path(@booking.event.local_img) %>" alt="event picture">
      </div>
    <div class="event-show-card m-4 d-flex justify-content-center flex-column">
    <%= render 'shared/progress_bar' %>
        <p>My Photographer</p>
      <div class="d-flex justify-content-around">
        <% if @booking.package.name == "How do you want it?" %>
            <small class="p-3 d-flex align-items-center" style="color: grey"><%= @booking.photographer.user.first_name %> will join you for the John Doe set from <%= @booking.start_time.strftime("%k:%M") %> - <%= @booking.end_time.strftime("%k:%M")%> </small>
          <% elsif @booking.package.name == "SICKO Mode" %>
            <small class="p-3 d-flex align-items-center" style="color: grey"><%= "You've booked the photographer for the entire day - most dope!" %> </small>
          <% else %>
            <small class="p-3 d-flex align-items-center" style="color: grey"><%= "We'll capture 15 awesome photographs at different times today!"%> </small>
        <% end %>
            <img src="<%= asset_path("profile_img.jpg") %>" class="float-right card-trip-user avatar-bordered" style="shape-outside: circle()," />
      </div>
    </div>

  <div class="event-show-card d-flex flex-column h-100">
    <% if @booking.package.name == "How do you want it?" %>
          <p><%= @booking.package.name %> on <%= @booking.event.start_date.strftime("%b %d") %> <br>from <%= @booking.start_time.strftime("%k:%M") %> - <%= @booking.end_time.strftime("%k:%M") %> </p>
    <% elsif @booking.package.name == "SICKO Mode" %>
          <p><%= @booking.package.name %> on <%= @booking.event.start_date.strftime("%b %d") %> <br>Dedicated photographer (All Day)</p>
    <% else %>
          <p><%= @booking.package.name %> on <%= @booking.event.start_date.strftime("%b %d") %> <br>Periodic photographer (Partial Day) </p>
    <% end %>
        <div class="d-flex flex-column justify-content-center text-center py-3">
          <div class="text-center">
            <% if @booking.package.name == "How do you want it?" %>
              <small style="color: grey;">Dedicated attention for entire 1 hour set</small><br>
              <small style="color: grey;">Minimum: 30 photographs of your group</small><br>
            <% elsif @booking.package.name == "SICKO Mode"  %>
              <small style="color: grey;">Entire festival day photography</small><br>
              <small style="color: grey;">Minimum: 50 photographs of your group</small><br>
            <% else %>
              <small style="color: grey;">We'll find you throughout the day. Have fun!</small><br>
              <small style="color: grey;">Periodic shooting: guranteed 15 photographs</small><br>
            <% end %>
          </div>
          <div class="d-flex flex-column text-center">
            <h4 style="color: grey"> Total price    <span style="color: #0FABBC;"><%= humanized_money_with_symbol(@booking.package.price) %></span></h4>
            <a href="<%= @booking.id %>/payments/new" class="btn-new">Pay now</a>
          </div>
        </div>
    </div>
  </div>





