<div class="wrapper-booking">

    <div class="row d-flex justify-content-between m-3 p-6">
      <h3><%= @booking.photographer.user.first_name %></h3>
      <img src="<%= asset_path("profile_img.jpg") %>" class="card-trip-user avatar-bordered" style="align-self: auto;" />
      <p>My Photographer</p>
    </div>
    <div class="row d-flex flex-column text-center">
          <p>My Package</p>
            <h3><%= @booking.package.name %></h3><br>
          <p>Total price</p>
            <h3><%= humanized_money_with_symbol(@booking.package.price) %></h3><br><br>
    </div>
            <a href="<%= @booking.id %>/new_booking_payment" class="btn btn-primary-pay">Pay now</a>
            <%= render 'shared/bottom_nav'%>
</div>




