<div class="event-card">
  <img src=" <%= asset_path(booking.event.local_img) %>" alt="festival image">
  <div class="event-infos">
    <div>
      <h2><%= booking.event.name %></h2>

            <p>Genre: <%= booking.event.genre %></p>
            <p><%= booking.event.start_date.strftime("%B %d") %> - <%= booking.event.end_date.strftime("%B %d") %> </p>
            <p> Package: <%= booking.package.name %> </p>

    </div>
    <h5 class="event-infos-pricing" style="color: rgb(71,172,188)">Payment Status: Paid</h5>
    <% if booking.photographer.user.avatar.attached? %>
      <%= cl_image_tag booking.photographer.user.avatar.key, class: "pgr-avatar-user avatar-bordered" %>
    <% else %>
      <%= image_tag "https://via.placeholder.com/30X30/0000FF/808080", class: "pgr-avatar-user avatar-bordered" %>
    <% end %>
  </div>
</div>
