<div class="event-card">
  <img src=" <%= asset_path(booking.event.local_img) %>" alt="festival image">
  <div class="event-infos">
    <div>
      <h2><%= booking.event.name %></h2>

            <p>Genre: <%= booking.event.genre %></p>
            <p><%= booking.event.start_date.strftime("%B %d") %> - <%= booking.event.end_date.strftime("%B %d") %> </p>
            <p> Package: <%= booking.package.name %> </p>

    </div>
    <h5 class="event-infos-pricing" style="color: rgb(71,172,188)">Payment Status: Paid</h5>

    <img src="<%= asset_path("profile_img.jpg") %>" class="pgr-avatar-user avatar-bordered" />
  </div>
</div>
