    <div class="banner d-flex flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(<%= asset_path 'gaby654.png' %>)">
       <div class="banner-title">
          <h1>Party Reel</h1>
          <p>Book a personal photographer for a live event</p><br><br>
      </div>
      <% if !@nearest_event.nil? %>
        <div class="card-fluid">
          <!-- logic incase the IP address is blocked for some reason -->
          <% if @smallest_distance.nil? %>
          <% call_to_action = 'Book Now!'%>
          <% else call_to_action = "Book a photographer for this festival!" %>
          <% end %>
          <img class="card-img-top nearest-event-image" src="<%= asset_path(@nearest_event.local_img) %>" alt="">
          <div class="d-flex flex-column py-3">
            <a href="events/<%= @nearest_event.id %>"><button type="button" class="btn btn-primary-float btn-lg btn-block"><%= call_to_action %></button></a>
          </div>
        </div>
      <% end %>
      <div class="carousel-new">
        <%= render "shared/carousel" %>
      </div>
    </div>

