
<div class="container">
    <div id="carouselContent" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <p> <%= "We capture pictures of the party so you do not have to!" %></p>
          </div>
          <div class="carousel-item">
            <p><<%= "Pay easily through our site using Stripe" %></p>
          </div>
          <div class="carousel-item" data-slide-to="2">
            <p><%= "Professional photographers located onsite at live events" %></p>
          </div>
          <div class="carousel-item">
            <p><%= "Never lose battery taking photographs again, we got you!" %></p>
          </div>
          <div class="carousel-item">
            <p><%= "Pick your shoot during your favorite artist's set time" %></p>
          </div>
        </div>
    </div>
</div>



