
<div class="container">
    <div id="carouselContent" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <p> <%= "We capture pictures of the party so you do not have to!" %></p>
          </div>
          <div class="carousel-item">
            <p><em><%= "Party Reel made us feel comfortable that our event would be memorable" %> ~ Lennie</em></p>
          </div>
          <div class="carousel-item" data-slide-to="2">
            <p><%= "Professional photographers located onsite at live events" %></p>
          </div>
          <div class="carousel-item">
            <p><%= "Never lose battery taking photographs again, we got you!" %></p>
          </div>
          <div class="carousel-item">
            <p><em><%= "I loved how easy it was to pay via their web app - easy and painless" %> ~ Evan</em></p>
          </div>
          <div class="carousel-item">
            <p><%= "Pick your shoot during your favorite artists set time" %></p>
          </div>
        </div>
    </div>
</div>



