<div class="container">
  <div class="row" style="display: contents">
    <div class="photographer-mod mt-3">
        <div class="photographer-mod-infos">
          <div class="row">
            <div class="col-md-6">
              <p> <%= current_user.first_name %> </p>
              <p> <%= current_user.last_name %> </p>
              <p> <%= current_user.location %> </p>
              <p> <%= current_user.user_ig_handle %> </p>
            </div>
            <div class="col-md-6">
              <%= simple_form_for(@photographer) do |f| %>
                <p> <%= f.input :phone_number %></p>
                <p> <%= f.input :camera %></p>
                <p> <%= f.input :lenses %></p>
                <p><%= f.input :profession, as: :radio_buttons, collection: Photographer::PROFESSIONS %></p>
                <p><%= f.association :photographerspecialties, as: :check_boxes, collection: Specialty.all %></p>
              <%= f.submit class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

