<div class="event-show-card mt-4" >
  <div class="event-infos">
    <h5 style="color: grey"><%= event.name %></h5>
    <div class="d-flex" style="justify-content: space-between;">
      <h5 style="color: grey"><%= event.start_date.strftime("%B %d, %Y") %> </h5>
      <a class="btn btn-primary" data-toggle="modal" data-target="#ManageAvailabilityModal<%= event.id %>" href="#" role="button">You're shooting this event!</a>
    </div>
      <h2  style="border-bottom: #0fabbc solid;"></h2>
  </div>
</div>

<div class="modal fade" id= "ManageAvailabilityModal<%= event.id %>" >
    <div class="modal-dialog modal-dialog-centered " style="max-width: 100%">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="color: grey">Are you sure you want to cancel your availability for <strong><%= event.name %></strong>?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body dynamic days as per event-->
        <div class="modal-body">
          <%= button_to "Cancel Availability", availablephotographer_path(current_user.photographer.availablephotographers.where(event_id: event.id)[0].id), method: :delete, class: "btn btn-danger"  %>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
</div>
