<div class="modal fade photographermodal vw-100" id="photographerModal<%= photographer.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body"  style="color: black;">
        <% if photographer.user.avatar.attached? %>
          <%= cl_image_tag photographer.user.avatar.key, class: "float-right card-trip-user avatar-bordered", style: "shape-outside: circle();" %>
        <% else %>
          <%= image_tag "https://via.placeholder.com/30X30/0000FF/808080", class: "float-right card-trip-user avatar-bordered", style: "shape-outside: circle();" %>
        <% end %>
        <div class="photographermodal-pgr-picture" style="background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 99%), url('<%= image_path "testphotographer3.webp" %>')">
          <!-- a placeholder picture, will eventually be replaced by user.avatarpic -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="photographermodal-pgr-picture-text"><%= photographer.user.first_name %> <%= photographer.user.last_name %></h3>

        </div>
        <div class="photographermodal-pgr-info">
          <p> Instagram: <%= photographer.user.user_ig_handle %></p>
          <% photographer.photographerspecialties.each do |photographer_specialty| %>
            <p> <%= photographer_specialty.specialty.name %></p>
          <% end %>

        </div>
      </div>

      <% if @package.name == "How do you want it?" %>
        <div class="time-slots" data-unavailable="<%= photographer.unavailable_times.to_json %>">
          <span class="time-slot">12-1PM</span>
          <span class="time-slot">1-2PM</span>
          <span class="time-slot">2-3PM</span>
          <span class="time-slot">3-4PM</span>
          <span class="time-slot">4-5PM</span>
          <span class="time-slot">5-6PM</span>
          <span class="time-slot">6-7PM</span>
          <span class="time-slot">7-8PM</span>
          <span class="time-slot">8-9PM</span>
          <span class="time-slot">9-10PM</span>
          <span class="time-slot">10-11PM</span>
          <span class="time-slot">11-12AM</span>
          <br>
        </div>
      <% end %>
      <div class="modal-footer d-flex justify-content-between">
        <% case @package.name %>
          <% when "Timezones" %>
            <p><%= photographer.user.first_name %> can shoot during the event<br>on <strong> <%= @event.start_date.strftime("%B %d") %> </strong> with your group!</p>
          <% when "How do you want it?" %>
            <p>Select a 1 hour shoot with <%= photographer.user.first_name %> <%= photographer.user.last_name %> </p>
          <% when "SICKO Mode" %>
            <p> <%= photographer.user.first_name %> <%= photographer.user.last_name %> will join you all day at <%= @event.name %>, <%= @event.start_date.strftime("%A, %B %d") %>. Your status = <strong> BALLER!</strong>!</p>
        <% end %>
        <%= simple_form_for [@event, @booking] do |f| %>
          <%= f.hidden_field :photographer_id, value: photographer.id %>
          <%= f.hidden_field :package_id, value: @package.id %>
          <!-- starttime and endtime filled with JS function -->
          <%= f.hidden_field :start_time  %>
          <%= f.hidden_field :end_time %>
          <div>
            <%= f.button :submit, "Book", class: "btn-new p-4" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
