<div class="event-show-card mt-4" >
  <div class="event-infos">
    <div class="pgr_img">
     <%= image_tag("profile_img.jpg") %> <!-- should this be the avatar picture? -->
    </div>
    <h2  style="border-bottom: #0fabbc solid;"></h2>
    <div class="profile_info">
      <h4>Bio</h4>
      <p  style="color: grey">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At corporis nemo minus magni perferendis dignissimos ipsum maxime illo dolorem molestiae! Minus minima beatae vel eius illo. Iure molestias, dolore fugiat!</p>
      <h2  style="border-bottom: #0fabbc solid;"></h2>
    </div>
    <div class="pgr_carousel">
      <%= render 'shared/pgr_portfolio_photos' %>
    </div>
    <%= simple_form_for(current_user.photographer) do |f| %>
      <%= f.input :portfoliophotos, as: :file, input_html: { multiple: true } %>
      <div class="form-actions">
        <%= f.button :submit, "Add Photos for your portfolio", class: "btn-new"  %>
      </div>
    <% end %>
  </div>
</div>
