<% if event.start_date > Date.today && event.availablephotographers.where(photographer_id: current_user.photographer.id)[0].nil? %>
  <div class="event-show-card mt-4" >

      <div class="event-infos">
          <div>
            <h5 style="color: grey"><%= event.name %></h5>
            <h5 style="color: grey">Dates needed: <%= event.start_date.strftime("%B %d, %Y") %> </h5>
            <p style="color: grey"><strong>Venue:</strong> Outdoor racetrack</p>
            <p style="color: grey"><strong>Walking rate:</strong> Heavy</p>
            <p style="color: grey"><strong>Average consumer spending/day:</strong> $200USD</p>
          </div>
            <a class="btn btn-danger" data-toggle="modal" data-target="#ManageEventModal<%= event.id %>" href="#" role="button">Shoot this event</a>
           <h2  style="border-bottom: #0fabbc solid;"></h2>
      </div>
  </div>
<% end %>


<!-- The Modal -->
  <div class="modal fade" id= "ManageEventModal<%= event.id %>" >
    <div class="modal-dialog modal-dialog-centered " style="max-width: 100%">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="color: grey">Are you available to shoot <strong><%= event.name %></strong>?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body dynamic days as per event-->
        <div class="modal-body">
          <%= simple_form_for [event, @available_photographer] do |f| %>

            <div class="btn-new">
            <%= f.button :submit, event.start_date.strftime("%B %d"), input_html: {"data-dismiss": "modal "}  %>
            </div>
          <% end %>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>






