<h2 style="background-color: #0fabbc; font-size: 30px; color: white; padding: 10px; max-width: fit-content;; border-radius: border-radius: 15px 50px 30px; border-radius: 1px 29px 28px 1px;">Hello, <%= current_user.first_name %></h2>
  <div class="container">
    <div class="vertical-tabs">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#pag2" role="tab" aria-controls="Event Manager">Event Manager</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#pag1" role="tab" aria-controls="My Clients">My Clients</a>
        <li class="nav-item" >
          <a class="nav-link" data-toggle="tab" href="#pag3" role="tab" aria-controls="Portfolio">Portfolio</a>
        </li>

      </ul>

      <div class="tab-content">

        <div class="tab-pane " id="pag1" role="tabpanel">
          <div class="sv-tab-panel">
      <div class="event-show-card mt-4" style="background-color: white;">
                <% @bookings.each do |booking| %>
                  <%= render 'shared/client_booking', booking: booking %>
                <% end %>
          </div>
        </div>
      </div>
        <div class="tab-pane active" id="pag2" role="tabpanel">
          <div class="sv-tab-panel">
            <!-- Nested Tabs -->
            <div class="container">
                <ul class="nav nav-tabs" role="tablist">

                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#pag2-1" role="tab" aria-controls="My Clients">My Events</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#pag2-2" role="tab" aria-controls="Event Manager">Booked Event</a>
                  </li>
                </ul>

            <div class="tab-content">

              <div class="tab-pane active" id="pag2-1" role="tabpanel">
                <div class="sv-tab-panel">
                    <div class=“container2-1”>
                      <div class=“homepage-cards”>
                        <% @bookings.each do |booking| %>
                          <%= render 'shared/photographer_manage_events', event: booking.event %>
                        <% end %>
                      </div>
                    </div>
                </div>
              </div>

              <div class="tab-pane" id="pag2-2" role="tabpanel">
                <div class="sv-tab-panel">
                  <div class=“container2-2”>


                      <div class=“homepage-cards”>
                         <%  @eventsregistered.each do |event| %>
                          <%= render 'shared/pgr_booked_events', event: event %>
                         <% end %>
                      </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          </div>
        </div>

        <div class="tab-pane" id="pag3" role="tabpanel">
          <div class="sv-tab-panel">
              <div class=“homepage-cards”>
               <%= render 'shared/pgr_portfolio' %>
              </div>
            </div>
          </div>

        </div>
     </div>
    </div>
  </div>
