
<div class="wrapper">
  <div class="container text-center">
    <div class="event-show-card">
      <h2>Book your Photographer for <%= @event.name %>! </h2>
      <p>Dates for <%= @event.name %>: </p>
      <p>Start date: <%= @event.start_date %> </p>
      <p>End date: <%= @event.end_date %> </p>
    </div>
    <a href="<%= @event.id %>/packages" class="btn btn-gradient w-100">Book!</a>
  </div>

  <%= render 'shared/bottom_nav'%>
</div>

