  <%= render "shared/banner" %>
<div class="home-img py-5">
  <%= image_tag "PR2.png", alt: "journey map"%>
</div>

<div class="container p-3">
  <h4 class="homepage-events">Select or search for an event below</h4>
  <%= render 'shared/search_bar' %>
</div>
  <div class="card-deck p-5 mb-5">
      <% @events.each do |event| %>
        <a href="events/<%= event.id %>" class="col-md-4 col-sm-6">
          <div class="card-category" style="background-image: url(<%= asset_path(event.local_img) %>)">
          <div class="event_info">
        </div>
      </div>
    </a>
  <% end %>
</div>
