<div class="container col-12 col-lg-6 col-md-6">
  <div class="event-show d-flex justify-content-center mb-3">
      <img src=" <%= asset_path(@booking.event.local_img) %>" alt="event picture">
  </div>
     <div class="event-show-card d-flex justify-content-center flex-column py-3">
      <%= render 'shared/progress_bar' %>
        <div>
          <h5 style="color: grey">Package review and payment for <%= current_user.first_name %></h5><br><br>
          <div class="d-flex justify-content-between">
          <img src=" <%= asset_path(@booking.package.local_img) %>" alt="package picture" style="height: 100px; width: 100px; object-fit: cover; border-radius: 5px;">
            <div class="p-3 text-right">
              <h5 style="color: grey"><%= @booking.package.name %></h5>
                <% if  @booking.package.name == "How do you want it?"%>
                  <small style="color: grey">Shoot time is from <%= @booking.start_time.strftime("%k:%M") %>PM - <%= @booking.end_time.strftime("%k:%M") %>PM</small>
                <% elsif @booking.package.name == "SICKO Mode" %>
                  <small style="color: grey"><%= "Dedicated session - seems to be a BALLER here!" %> </small>
                <% else %>
                  <small style="color: grey"><%= "Periodic shooting throughout the day" %></small>
                <% end %>
            </div>
          </div>
          <hr class="solid">
          <br>
      <div class="row py-3">
          <div class="col-6">
            <h5 style="color: grey">Subtotal</h5>
            <h5 style="color: grey">Tax</h5><br>
            <h5 style="color: black">Total</h5>
          </div>
          <div class="col-6" style="text-align: right;">
            <h5 style="color: grey">$0.00</h5>
            <h5 style="color: grey">$0.00</h5><br>
            <h5 style="color: black"><strong><%= humanized_money_with_symbol @booking.amount %>.00</strong></h5>
        </div>
      </div>
          <button id="pay" class="btn-new w-100">Party time - Pay now!</button>
          <script src="https://js.stripe.com/v3/"></script>
          <script>
            const paymentButton = document.getElementById('pay');
            paymentButton.addEventListener('click', () => {
              const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
              stripe.redirectToCheckout({
                sessionId: '<%= @booking.checkout_session_id %>'
              });
            });
          </script>
        </div>
    </div>
  </div>

